<router-outlet></router-outlet>

<h1>Login Page</h1>

<div class="tabClass">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="SignIn">
      <!-- <mat-card class="example-card">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              placeholder="Enter your Email"
              formControlName="email"
            />
            <mat-error
              *ngIf="AllControls?.email?.errors?.['email'] && submitted"
              >Invalid Email</mat-error
            >
            <mat-error
              *ngIf="AllControls?.email?.errors?.['required'] && submitted"
              >Required</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              placeholder="Enter your Password"
              formControlName="password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error
              *ngIf="AllControls?.password?.errors?.['required'] && submitted"
              >Required</mat-error
            >
          </mat-form-field>
          <div style="text-align: center;position: relative">
            <button
              mat-raised-button
              type="submit"
              class="loginButton"
              color="primary"
            >
              Login
            </button>
          </div>
        </form>
      </mat-card> -->
    </mat-tab>
    <mat-tab label="signUp "
      ><mat-card class="example-card">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignup(signupForm)">
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input
              matInput
              type="name"
              placeholder="Enter your name"
              formControlName="name"
            />

            <mat-error
              *ngIf="AllControlsSignup?.['name']?.errors?.['required'] && submittedSignup"
              >Required</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              placeholder="Enter your Email"
              formControlName="email"
            />
            <mat-error
              *ngIf="AllControlsSignup?.['email']?.errors?.['email'] && submittedSignup"
              >Invalid Email</mat-error
            >
            <mat-error
              *ngIf="AllControlsSignup?.['email']?.errors?.['required'] && submittedSignup"
              >Required</mat-error
            >
          </mat-form-field>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="gender"
          >
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
          </mat-radio-group>

          <mat-form-field appearance="fill">
              <mat-label>Date of Birth</mat-label>
              <input matInput [matDatepicker]="picker"  formControlName="date"  >
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Role</mat-label>
                <mat-select formControlName="role" >
                  <mat-option *ngFor="let item of role" [value]="item.id">
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hideSignup ? 'password' : 'text'"
              placeholder="Enter your Password"
              formControlName="password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hideSignup = !hideSignup"
              [attr.aria-label]="'hide password'"
              [attr.aria-pressed]="hideSignup"
            >
              <mat-icon>{{ hideSignup ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error
              *ngIf="AllControlsSignup?.['password']?.errors?.['required'] && submittedSignup"
              >Required</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              [type]="hideSignup ? 'password' : 'text'"
              placeholder="confirm your Password"
              formControlName="confirmpassword"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hideSignup = !hideSignup"
              [attr.aria-label]="'hide password'"
              [attr.aria-pressed]="hideSignup"
            >
              <mat-icon>{{ hideSignup ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error
              *ngIf="AllControlsSignup?.['confirmpassword']?.errors?.['required'] && submittedSignup"
              >Required</mat-error
            >
            <mat-error
              *ngIf="AllControlsSignup?.['confirmpassword']?.errors?.['paswordMismatch'] && submittedSignup"
              >Password Mismatch</mat-error
            >
          </mat-form-field>
          <div style="text-align: center;position: relative">
            <button
              mat-raised-button
              type="submit"
              class="loginButton"
              color="primary"
            >
              Login
            </button>
          </div>
        </form>
      </mat-card></mat-tab
    >
  </mat-tab-group>
</div>
